
<div class="col-4">	
	<figure class="figure" >
	  <%= image_tag image.picture.thumb.url, class: 'figure-img img-fluid rounded'  %>
	  <figcaption class="figure-caption">
		<%= link_to 'Editar	 ', edit_image_path(image) , class:'btn btn-primary btn-sm' %> 
		<%= link_to 'Borrar', image, method: :delete, data: { confirm: 'Estas seguro?'} ,class:'btn btn-primary btn-sm' %>
		<strong><%= image.description %></strong>
		</figcaption>
	</figure>
</div>
